<footer role="contentinfo" aria-label="Pie de página">
  <section class="infoFooter">
    <section class="logoFooter">
      <h3 class="footer-title">Contacto</h3>
      <a href="/" aria-label="Inicio">
        <figure class="logo">
          <img src="assets/logo.png" alt="Logo de la aplicación" class="fotoFooter" />
        </figure>
      </a>
      <p><i class="fa-solid fa-map-pin"></i> Quito - Ecuador</p>
      <p><i class="fa-solid fa-phone"></i> +593 968606111</p>
    </section>
    <section class="infoDerecha">
      <h3 class="footer-title">Síguenos</h3>
      <section class="redesSociales">
        <a href="https://www.instagram.com/" class="icono" aria-label="Instagram">
          <img src="assets/Instagram.webp" alt="Instagram" />
        </a>
        <a href="https://twitter.com/?lang=es" class="icono" aria-label="Twitter">
          <img src="assets/x.jpg" alt="Twitter" />
        </a>
        <a href="https://github.com/" class="icono" aria-label="Github">
          <img src="assets/github.png" alt="Github" />
        </a>
      </section>  
      <h3 class="footer-title">Correos</h3>
      <p><i class="fa-solid fa-envelope"></i> <a href="mailto:sysproductcategory&#64;gmail.com">sysproductcategory&#64;gmail.com</a></p>
      <p><i class="fa-solid fa-square-envelope"></i> <a href="mailto:serviciosysproductcategory&#64;gmail.com">serviciosysproductcategory&#64;gmail.com</a></p>
      <section class="copyright">&copy; {{ currentYear }} Stefany Díaz - SysProductCategory</section>
    </section>
  </section>
</footer>

